body{
background-color:white;
}	



#h:hover {
	background-color:green;
	color:white;
	font-decoration:none;
	
}

#ab:hover {
	background-color:green;
	color:white;
}
#pr:hover {
	background-color:green;
	color:white;
}

#nw:hover {
	background-color:green;
	color:white;
}
#do:hover {
	background-color:green;
	color:white;
}



#head-director{
	font-family:sans-serif;
	color:green;
	font-size:20px;
}

#head-donate{
	font-family:sans-serif;
	color:green;
	font-size:50px
	
}

#pgf{
 color:green;
font-size:30px;
font-family:sans-serif;
 
	 }




	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	



