body{
background-color:white;
}	



#h:hover {
	background-color:green;
	color:white;
	
    
    
	
}

#ab:hover {
	background-color:green;
	color:white;
	
}
#pr:hover {
	background-color:green;
	color:white;
}

#nw:hover {
	background-color:green;
	color:white;
}
#do:hover {
	background-color:green;
	color:white;
}



#head-director{
	font-family:sans-serif;
	color:green;
	font-size:20px;
}

#head-donate{
	font-family:Helvetica-Bold;
	color:green;
	font-size:50px
	font-weight:normal;
	letter-spacing:2px;
}

#pgf{
color:green;
font-size:25px;
font-family:sans-serif;
font-weight:normal;

}




	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	



